<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">

        <!-- Home -->
        <section id="home">
            <div class="image main" data-position="center">
                <img src="assets/images/banner.jpg" alt="" />
            </div>
            <div id="home" class="container">
                <header class="major">
                    <h2>Being.A.Dev.Rocks</h2>
                    <br>
                    <p>🤓 full time nerd | 🧹 code janitor | 👩🏼‍🚒 devops firefighter</p>
                </header>
                <p>Being a DevOps/SysAdmin totally rocks. Being a developer rocks!. Being a Vue Vixen rocks my socks. But why?, don't we all suffer at some point? - probably on a daily basis. I am often seen arguing with my computer and also cheering when
                    things work. It hasn't changed since day one. You won't see a lot of swanky things but here i share my projects and all the reasons that make me love doing what i do! 💜</p>
            </div>
        </section>

        <!-- About -->
        <section id="about">
            <div id="about" class="container">
                <h3 id="about">About (Bio)</h3>
                <p><span class="image left"><img src="assets/images/avatar2.jpg" alt="" /></span>Diana Rodriguez is a Full Stack Developer/DevOps, Vue Vixens Worldwide Community Organiser, Google Developer Expert in Web Technologies and Auth0 Ambassador.
                    She was also a NativeScript-Vue Ambassador for 2018.
                    <p> With 18 years' experience and a strong background in back end and infrastructure, Diana likes to bring together the best of both worlds, spreading DevOps culture. As a Chief DevOps Architect She has a passion for Automation, IaaS and
                        containers being very proficient in Kubernetes and Docker.
                        <p>
                            She's super enthusiastic about everything to encourage people to start a career in development and a fan of female devs and DevOps. In her spare time she likes to play videogames, also a huge fan of sports, Diana is a rugby player and taekwondo black
                            belt.
                        </p>
                        <br>
                        <h5>In fewer words:</h5>
                        <br>

                        <ul class="feature-icons">
                            <br>
                            <br>
                            <li class="fa-code">Full Stack Developer</li>
                            <li class="fa-cubes">DevOps/SRE</li>
                            <li class="fa-book">Mentoring/Content Creation</li>
                            <li class="fa-users">Public Speaking/Community Work</li>
                            <li class="fa-globe">Vue Vixens Worldwide Community Organiser</li>
                            <li class="fa-bolt">Auth0 Ambassador</li>
                        </ul>

            </div>
        </section>

        <!-- Podcasts-->
        <section id="podcasts">
            <div id="podcasts" class="container">
                <h3 id="podcasts">Podcasts / Online Workshops</h3>
                <p>Updated as often as possible! 🤪</p>
                <div class="features">
                    <article>
                        <a href="https://egghead.io/podcasts/opening-programming-s-gates-to-women-s-communities-with-diana-rodriguez" class="image"><img src="assets/images/egghead.png" alt="" /></a>
                        <div class="inner">
                            <h4><a href="https://egghead.io/podcasts/opening-programming-s-gates-to-women-s-communities-with-diana-rodriguez">Opening
                  programming's gates to women communities</a></h4>
                            <p>Diana Rodriguez, Worldwide Community Organizer for the Vue Vixens Initiative, joins us today to talk about her early experiences with development as a child, her transition into a becoming a full-time professional and her work
                                with getting women from communities all over the world involved with programming!
                            </p>
                        </div>
                    </article>
                    <article>
                        <a href="https://www.telerik.com/blogs/meet-the-vue-vixens" class="image"><img src="assets/images/telerik.png" alt="" /></a>
                        <div class="inner">
                            <h4><a href="https://www.telerik.com/blogs/meet-the-vue-vixens">Eat, Sleep, Code: Meet the Vue Vixens</a></h4>
                            <p>On this episode of Eat Sleep Code, Jen Looper and Diana Rodriguez discuss Vue Vixens, an organization of people who identify as women and who want to learn Vue.js to make websites and mobile apps. Jen and Diana share their
                                story of creating and building a successful developer community and growing Vue Vixens into a worldwide organization.</p>
                        </div>
                    </article>
                    <article>
                        <a href="https://dev.to/vuevixens/the-real-developer-syndrome-keeping-a-balance-with-life-and-work-and-having-fun-2g92" class="image"><img src="assets/images/devto.png" alt="" /></a>
                        <div class="inner">
                            <h4><a href="https://dev.to/vuevixens/the-real-developer-syndrome-keeping-a-balance-with-life-and-work-and-having-fun-2g92">Debunking
                  Myths: The Real Developer Syndrome</a></h4>
                            <p>The same way a chef doesn't live inside their kitchen to be a good chef, developers don't have to spend their lives attached to devices to be "real developers". Let's have an honest talk about keeping a healthy balance between
                                work and your personal life and avoid burning yourself out!
                                <br />This DEV Live Stream was recorded on September 19, 2018</p>
                        </div>
                    </article>
                    <article>
                        <a href="https://www.youtube.com/watch?v=sheQpMND-qA" class="image"><img src="assets/images/vvmm.png" alt="" /></a>
                        <div class="inner">
                            <h4><a href="https://www.youtube.com/watch?v=sheQpMND-qA">[Vue Vixens Masterclass] Debunking Myths: The
                  Imposter Syndrome</a></h4>
                            <p>Real life struggles. Real tips and answers. An entertaining (yes!) talk about those things we never talk about.</p>
                        </div>
                    </article>
                </div>
            </div>
        </section>

        <!-- Talks -->
        <section id="talks">
            <div id="talks" class="container">
                <h3 id="talks">Talks & Workshops</h3>
                <div class="table-wrapper">
                    <table class="alt">
                        <thead>
                            <tr>
                                <th>Event</th>
                                <th>Description</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                        <td><a href="https://www.fleurixconf.com/">DevOps Days SLC</a> - Salt Lake City, UT 🇺🇸</td>
                                        <td>DevOps + IoT + Security: No Secrets </td>
                                        <td>May 14-15 2019</td>
                                        </tr>
                                    <tr>
                                        <td><a href="https://www.fleurixconf.com/">Fleurix Conf Women's conference</a> - Charlotte, NC 🇺🇸</td>
                                        <td>DevOps + IoT + Security: No Secrets </td>
                                        <td>March 25-27 2019</td>
                                    </tr>
                            <tr>
                                <td><a href="https://vueconf.us//">Vue Conf US</a> - Tampa, FL 🇺🇸</td>
                                <td>Vue Vixens Skulk</td>
                                <td>March 25-27 2019</td>
                            </tr>
                            <tr>
                                <td><a href="https://www.meetup.com/Google-Developer-Group-Triangle/events/257925839/?_xtd=gqFyqDExNDE5MzkxoXCmaXBob25l&from=ref">Triangle DevFest '19</a> - Raleigh, NC 🇺🇸</td>
                                <td>Containers 101: Docker & Kubernetes Simplified</td>
                                <td>Feb 26 2019</td>
                            </tr>
                            <tr>
                                <td><a href="https://devfestdfw2018.firebaseapp.com/">DevFest DFW '19</a> - Plano, TX 🇺🇸</td>
                                <td>Deployment 101 for Frontenders </td>
                                <td>Feb 16 2019</td>
                            </tr>
                            <tr>
                                <td><a href="https://www.meetup.com/NashvilleWomenProgrammers/events/hjsbspyzdbpb/">Nashvile Women Programmers</a> - Nashville, TN 🇺🇸</td>
                                <td>Dockerise your nuxt app like a boss! </td>
                                <td>Feb 11 2019</td>
                            </tr>
                            <tr>
                                <td><a href="https://www.meetup.com/vueJsNYC/events/256976538/">VueNYC #18</a> - New York, NY 🇺🇸</td>
                                <td>Debunking Myths: Imposter sindrome <a href="https://slides.com/superdiana/rompiendomitos-4">[slides]</a></td>
                                <td>Jan 26 2019</td>
                            </tr>
                            <tr>
                                <td><a href="https://iotdevfest.com/speakers">IOT DevFest</a> - Tempe, AZ 🇺🇸</td>
                                <td>DevOps + IoT + Security: No Secrets</td>
                                <td>Jan 26 2019</td>
                            </tr>
                            <tr>
                                <td><a href="https://www.meetup.com/trianglemodernweb/events/254888908/">ModernWeb Triangle </a>- Raleigh, NC 🇺🇸</td>
                                <td>Debunking Myths: Burnout Culture and Junior Dev4Life <a href="https://slides.com/superdiana/dbm4">[slides]</a></td>
                                <td>Nov 29 2018</td>
                            </tr>
                            <tr>
                                <td><a href="https://devfest-new-haven.firebaseapp.com/">DevFest New Haven</a> - New Haven,CT 🇺🇸</td>
                                <td>Deployment 101 for Frontenders <a href="https://slides.com/superdiana/vueployment">[slides] </a>
                                    <a href="https://youtu.be/ITK2kYeeHgM">[video]</a></td>
                                <td>Oct 27 2018</td>
                            </tr>
                            <tr>
                                <td><a href="https://vuevixens.org/galleries/jsmobileconf2018">JS Mobile Conf</a> - Boston, MA 🇺🇸</td>
                                <td>Vue Vixens Breakfast Skulk </td>
                                <td>Oct 26 2018</td>
                            </tr>
                            <tr>
                                <td><a href="https://jsmobileconf.com/schedule/session-day1-track2-4.html">JS Mobile Conf</a> - Boston, MA 🇺🇸
                                </td>
                                <td>Debunking Myths: Imposter sindrome <a href="https://slides.com/superdiana/rompiendomitos-4">[slides]</a> </td>
                                <td>Oct 25 2018</td>
                            </tr>
                            <tr>
                                <td><a href="https://allthingsopen.org/talk/vue-vixens-workshop/">All Things Open</a> - Raleigh, NC 🇺🇸</td>
                                <td>Vue Vixens Skulk</td>
                                <td>Oct 22 2018</td>
                            </tr>
                            <tr>
                                <td><a href="https://jsmobileconf.com/schedule/session-day1-track2-4.html">Connect Tech</a> - Atlanta, GA 🇺🇸
                                </td>
                                <td>New to frontend? Get rocking with Vue.js! <a href="https://docs.google.com/presentation/d/1cvd94m7k3EM3ewVoDPLFGV4a-TSfl5wqoQqxzjySI80/edit#slide=id.g35f391192_00">[slides]</a> | <a href="https://www.youtube.com/watch?v=W4yLJy1fmIw&t=1261s">[video]</a>                                    </td>
                                <td>Oct 18 2018</td>
                            </tr>
                            <tr>
                                <td><a href="https://vuevixens.org/galleries/connecttech2018">Connect Tech</a> - Atlanta, GA 🇺🇸</td>
                                <td>Vue Vixens Skulk</td>
                                <td>Oct 17 2018</td>
                            </tr>
                            <tr>
                                <td><a href="https://www.meetup.com/Montevideo-Vue-JS-Meetup/events/255210278/">Vue Montevideo</a> - Montevideo, Uruguay 🇺🇾</td>
                                <td>Introducing Vue Vixens / Vue Cli 3 Like a Boss <a href="https://slides.com/superdiana/vuecli3uy">[slides]</a> </td>
                                <td>Oct 9 2018</td>
                            </tr>
                            <tr>
                                <td><a href="https://vuejssumit.com/">Vue.js Summit</a> - São Paulo, Brazil 🇧🇷</td>
                                <td>Deployment 101 for Frontenders <a href="https://slides.com/superdiana/vueployment">[slides]</a> </td>
                                <td>Aug 31 2018</td>
                            </tr>
                            <tr>
                                <td><a href="https://vuejssumit.com/">Vue.js Summit</a> - São Paulo, Brazil 🇧🇷</td>
                                <td>Vue Vixens Skulk</td>
                                <td>Aug 30 2018</td>
                            </tr>
                            <tr>
                                <td><a href="https://vuevixensday.surge.sh/">Vue Vixens Day</a> - Buenos Aires, Argentina 🇦🇷</td>
                                <td>Deployment 101 para Frontenders <a href="https://slides.com/superdiana/deployment101es">[slides]</a> </td>
                                <td>Jul 28 2018</td>
                            </tr>
                            <tr>
                                <td><a href="https://vuevixensday.surge.sh/">Vue Vixens Day</a> - Buenos Aires, Argentina 🇦🇷</td>
                                <td>Vue Vixens Skulk</td>
                                <td>Jul 28 2018</td>
                            </tr>
                            <tr>
                                <td><a href="https://www.meetup.com/Nardoz/events/252043103/">Nardoz #4</a> - Buenos Aires, Argentina 🇦🇷</td>
                                <td>Rompiendo Mitos: Sindrome del Impostor <a href="https://slides.com/superdiana/rompiendomitos">[slides]</a> </td>
                                <td>Jul 4 2018</td>
                            </tr>
                            <tr>
                                <td><a href="https://www.meetup.com/vuenos-aires/events/251884191/">Vuenos Aires #6</a> - Buenos Aires, Argentina 🇦🇷</td>
                                <td>Official presentation/launch of Vue Vixens to the Tech Community</td>
                                <td>Jun 21 2018</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Press-->
            <section id="press">
                <div id="press" class="container">
                    <h3 id="press">Articles/Press</h3>
                    <!-- Articles I wrote-->
                    <h4>Articles written by me:</h4>
                    <br />
                    <div class="features">
                        <article>
                            <a href="https://www.codeprep.io/podcast/007/" class="image"><img src="images/codeprep.png" alt="" /></a>
                            <div class="inner">
                                <h4><a href="https://www.codeprep.io/podcast/007/">CodePrep #7 Diana Rodriguez</a></h4>
                                    <p>In this episode Diana talks about how she started programming and how she started working with DevOps. She talks about her work with Vue Vixens and how the cloud is impacting DevOps today</p>
                            </div>
                        </article>
                        <article>
                            <a href="https://www.telerik.com/blogs/integrating-vue-cli-3-with-kendo-ui" class="image"><img src="assets/images/kendo.png" alt="" /></a>
                            <div class="inner">
                                <h4>Integrating Vue-Cli3 with Kendo UI</h4>
                                <p>Walk through the integration process of the new Vue CLI 3 with Kendo UI, and start developing eye-catching Vue.js applications with zero hassle!</p>
                            </div>
                        </article>
                        <article>
                            <a href="https://dev.to/vuevixens/dockerise-your-nuxt-ssr-app-like-a-boss-a-true-vue-vixens-story-part-2-1fgj" class="image"><img src="assets/images/dock2.png" alt="" /></a>
                            <div class="inner">
                                <h4><a href="https://dev.to/vuevixens/dockerise-your-nuxt-ssr-app-like-a-boss-a-true-vue-vixens-story-part-2-1fgj">Dockerise
          your Nuxt SSR App - Part 2 </a></h4>
                                <p>As i promised before, the next part of this series of tutorials, is about adding a SSL certificate container to your stack. Let's get it started! (yeah!).</p>
                            </div>
                        </article>
                        <article>
                            <a href="https://dev.to/vuevixens/dockerise-your-nuxt-ssr-app-like-a-boss-a-true-vue-vixens-story-4mm6" class="image"><img src="assets/images/dock1.png" alt="" /></a>
                            <div class="inner">
                                <h4><a href="https://dev.to/vuevixens/dockerise-your-nuxt-ssr-app-like-a-boss-a-true-vue-vixens-story-4mm6">Dockerise
          your Nuxt SSR App - Part 1 </a></h4>
                                <p>Our awesome CTO Natalia Tepluhina coded our Vuetiful Nuxt SSR website: <a href="https://vuevixens.org">
          (https://vuevixens.org)</a>. We are all super happy and proud about it. She can totally guide you through all the development details, I will only take our website to show you how easy it is to pack it in Docker and talk from the DevOps perspective
                                    of Vue Vixens.</p>
                            </div>
                        </article>
                        <article>
                            <a href="https://dev.to/superdiana/the-touch-of-the-masters-hand-in-a-tough-tech-world-3gk1" class="image"><img src="assets/images/dev1.png" alt="" /></a>
                            <div class="inner">
                                <h4><a href="https://dev.to/superdiana/the-touch-of-the-masters-hand-in-a-tough-tech-world-3gk1">The touch of the
          "master's" hand in a tough tech world</a></h4>
                                <p>Have you ever thought how much of an impact you may have on someone else's life?. If we were more aware of the positive influence we can have on others, perhaps things could be a bit different... what if we started paying
                                    more attention to those little things that matter in the end?</p>
                            </div>
                        </article>
                        <!-- Articles About me-->
                        <h4>Press/Mentions:</h4>
                        <br />
                        <div class="features">
                            <article>
                                <a href="https://dev.to/vuevixens/2018-vue-vixens-retrospective-and-2019-roadmap-19ei" class="image"><img src="assets/images/m1.png" alt="" /></a>
                                <div class="inner">
                                    <h4>2018 Vue Vixens retrospective and 2019 roadmap</h4>
                                    <p>It’s been a whirlwind year in our community, as we have built it from nothing at the beginning of the year, formally launched it in February 2018, and grew it into an exciting, vibrant group of passionate women developers
                                        and allies in a very short period of time.</p>
                                </div>
                            </article>
                            <article>
                                <a href="https://dev.to/vuevixens/building-a-technical-team-the-emerald-city-way-6ga" class="image"><img src="assets/images/m2.png" alt="" /></a>
                                <div class="inner">
                                    <h4><a href="https://dev.to/vuevixens/building-a-technical-team-the-emerald-city-way-6ga">Building a technical
          team the emerald city way</a></h4>
                                    <p>Get ready to follow the Yellow Brick Road with me as I talk a bit about how I built a tight-knit technical team based on what I call the Emerald City Principle.</p>
                                </div>
                            </article>
                            <article>
                                <a href="https://dev.to/vuevixens/meet-vue-vixens-5f10" class="image"><img src="assets/images/m3.png" alt="" /></a>
                                <div class="inner">
                                    <h4><a href="https://dev.to/vuevixens/meet-vue-vixens-5f10">Meet Vue Vixens </a></h4>
                                    <p>It’s my great honor and pleasure to formally introduce to the world a program, project, and community, Vue Vixens! We are also very happy to launch this new blog, kindly hosted by our friends at Dev.to!</p>
                                </div>
                            </article>
                            <article>
                                <a href="https://medium.com/@oneminutejs/unsung-heroes-of-vue-diana-rodr%C3%ADguez-d2bc91772b8d" class="image"><img src="assets/images/m4.png" alt="" /></a>
                                <div class="inner">
                                    <h4><a href="https://medium.com/@oneminutejs/unsung-heroes-of-vue-diana-rodr%C3%ADguez-d2bc91772b8d">Unsung
          Heroes of Vue: Diana Rodriguez</a></h4>
                                    <p>The Vue community is made up of over 122,000 stars (literally), and this series provides interviews with developers who are working across the world to make the Vue community a better place. In this article, we continue
                                        our focus on Vue Vixens with a conversation with Diana Rodríguez.</p>
                                </div>
                            </article>

                            <!-- Projects -->
                            <section id="projects">
                                <div id="projects" class="container">
                                    <h3 id="projects">Community Work</h3>
                                    <p>These are the projects/initiatives/organisations i am involved with.</p>
                                    <div class="features">
                                        <article>
                                            <a href="https://vuevixens.org/team" class="image"><img src="assets/images/vv.png" alt="" /></a>
                                            <div class="inner">
                                                <h4><a href="https://vuevixens.org/team">Vue Vixens Worldwide Community Organiser</a></h4>
                                                <p>Vue Vixens is an initiative founded by Jen Looper, Developer Advocate at Progress, that creates and hosts workshops to teach Vue.js to under-represented people in a cool and fun way. It is based on the successful
                                                    model pioneered by Shmuela Jacobs for the Angular community (ng-girls.org) who was in turn inspired by the Rails Bridge and Django Girls initiatives. The format involves self-driven code labs completed
                                                    in a workshop format in groups with mentoring by conference-goers and speakers who volunteer to help. The goal of the program is to familiarize women and those who identify as such with Vue.js in a supportive
                                                    and inclusive environment. We also help conferences organize their diversity initiatives such as offering free conference tickets, and are building a scholarship fund to help offset those attendees'
                                                    conference costs so that they can more easily attend. Questions? Contact us at info@vuevixens.org</p>
                                            </div>
                                        </article>
                                        <article>
                                            <a href="https://developers.google.com/experts/people/diana-rodriguez" class="image"><img src="assets/images/gde.png" alt="" /></a>
                                            <div class="inner">
                                                <h4><a href="https://developers.google.com/experts/people/diana-rodriguez">Google Developer Expert: Web
                                  Technologies, Google Cloud Platform</a></h4>
                                                <p>Google Developers Experts (GDEs) are a global network of experienced product strategists, designers, developers and marketing professionals actively supporting developers, startups and companies changing
                                                    the world through web and mobile applications.<br /> GDEs are experienced, recognized developers of Google technologies as well as outstanding professionals in product strategy, UX/UI, marketing, growth
                                                    hacking and monetization. They distinguish themselves through frequently speaking at conferences, share their passion and experience by publishing videos and tutorials, writing code samples, mentoring
                                                    developers and startups and much more. Thanks to their support, developers, high-potential startups and technical communities around the world build and launch highly innovative apps.</p>
                                            </div>
                                        </article>
                                        <article>
                                            <a href="https://auth0.com/ambassador-program" class="image"><img src="assets/images/auth0.png" alt="" /></a>
                                            <div class="inner">
                                                <h4><a href="https://auth0.com/ambassador-program">Auth0 Ambassador</a></h4>
                                                <p>Our global team of ambassadors empower their communities and help make the Internet a safer place by attending and hosting meetups, conferences, and other events that focus on authentication, security, and
                                                    identity topics.
                                                </p>
                                            </div>
                                        </article>
                                        <article>
                                            <a href="https://www.nativescript.org/blog/meet-the-2018-nativescript-ambassadors" class="image"><img src="assets/images/ns.png" alt="" /></a>
                                            <div class="inner">
                                                <h4>NativeScript-Vue Ambassador 2018</h4>
                                                <p>The Ambassador program is designed to help developers move from being a beginner to becoming an expert mobile app developer. Our Ambassadors come from all walks of life: students and professionals, folks
                                                    new to code, folks who have been coding for a while, men and women, from many different parts of the world. </p>
                                            </div>
                                        </article>
                                    </div>

                                </div>

                                <!-- Footer -->
                                <section id="footer">
                                    <div class="container">
                                        <ul class="copyright">
                                            <li>&copy; Super Di!.</li>
                                            <li>Thanks to: <a href="http://html5up.net">HTML5 UP for the template 🤪</a></li>
                                        </ul>